.teamCard {
  margin-top: 0;
}

.teamCard img {
  width: 100%;
  background: #0a2516;
}

.teamCard_content {
  text-align: left;
  margin-top: 20px;
  font-size: 19px;
  font-family: "neue-haas-grotesk-display", sans-serif;
}

.teamCard_content p {
  margin-bottom: 0;
}
