.about {
  margin-top: 60px;
  background: #e6e2df;
  padding-left: 0 !important;
}

.about .about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-content {
  height: 100%;
  width: 100%;
  text-align: left;
  padding: 50px 150px;
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Stack children vertically */
  justify-content: flex-end; /* Align content at the bottom */
  font-family: "neue-haas-grotesk-display", sans-serif;
  color: var(--text-color);
}

.about-content-content {
  margin-top: auto;
}

.about-content-content .heading {
  margin-bottom: 150px;
  font-size: 22px;
}
.about-content-content .desc {
  font-size: 20px;
}

@media screen and (max-width: 1100px) {
  .about-content-content .heading {
    font-size: 16px;
    margin-bottom: 70px !important;
  }

  .about-content {
    padding: 30px;
  }

  .about-content-content .desc {
    font-size: 14px;
  }
}

@media screen and (max-width: 928px) {
  .about-content-content .heading {
    font-size: 14px;
    margin-bottom: 70px !important;
  }

  .about-content {
    padding: 30px;
  }

  .about-content-content .desc {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .about {
    padding: 35px !important;
  }

  .about-content {
    padding: 30px 0 !important;
  }
  .about .about-image img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 1480px) {
  .about-content {
    padding: 50px 10%;
  }
}

@media screen and (max-width: 450px) {
  .about {
    padding: 20px !important;
  }

  .about .about-image img {
    width: 100%;
    height: 291px;
    object-fit: cover;
  }

  .about-content {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
  }

  .about-content-content .heading {
    font-size: 14px;
    margin-bottom: 50px !important;
  }
  .about-content-content .desc {
    font-size: 12px;
    width: 100% !important;
  }
}
