.about {
  margin-top: 60px;
  background: #e6e2df;
}

.about .about_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about_content {
  height: 100%;
  width: 100%;
  text-align: left;
  padding: 50px 150px;
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Stack children vertically */
  justify-content: flex-end; /* Align content at the bottom */
  font-family: "neue-haas-grotesk-display", sans-serif;
  color: var(--text-color);
}

.about_content_content {
  margin-top: auto;
}

.about_content_content .heading {
  margin-bottom: 150px;
  font-size: 22px;
}
.about_content_content .desc {
  font-size: 20px;
}

@media screen and (max-width: 1100px) {
  .about_content_content .heading {
    margin-bottom: 20px !important;
  }
  .about_content {
    padding: 30px;
  }
}
@media screen and (max-width: 768px) {
  .about {
    padding: 35px !important;
  }

  .about_content_content .heading {
    margin-bottom: 20px;
  }
  .about_content {
    padding: 30px 0;
  }
  .about .about_image img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 450px) {
  .about {
    padding: 24px !important;
  }

  .about_content_content .heading {
    font-size: 14px;
    margin-bottom: 50px !important;
  }
  .about_content_content .desc {
    font-size: 12px;
    width: 100% !important;
  }
}
