/* Video Container */
/* .header {
  position: relative;
} */
.video-container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

/* Background video styling */
#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

/* Dark overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dark overlay with 50% opacity */
  z-index: 1;
}

/* Overlay content */
.content {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  padding: 66px 0 50px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  /* padding-top: 25px; */
  padding-bottom: 35px !important;
  font-family: "neue-haas-grotesk-display", sans-serif;
}

.content .logo img {
  height: 33px;
}
.content p {
  font-size: 20px;
  font-weight: 400 !important;
  font-family: "neue-haas-grotesk-display", sans-serif;
  letter-spacing: 3%;
  margin-bottom: 0;
}

.content .header-bottom {
  text-align: center;
}

.content .header-bottom .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-bottom: 60px;
}

.content .header-bottom .menu a,
.content .header-bottom .menu button {
  color: #ffff;
  background-color: transparent !important;
  border: none;
  text-decoration: none;
  font-weight: 400 !important;
  font-size: 20px;
  font-weight: 400 !important;
  font-family: "neue-haas-grotesk-display", sans-serif !important;
  position: relative;
}
.content .header-bottom .menu a::after,
.content .header-bottom .menu button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 3.5px; /* Adjust this value as needed for spacing */
  width: 100%;
  height: 1.3px; /* Adjust the thickness of the underline */
  background-color: #ffff; /* Set the underline color */
  transition: width 0.3s ease; /* Smooth transition effect */
}

.content .header-bottom .menu button {
  padding: 0 !important;
}

.header-bottom .down-arrow img {
  width: 27px;
  cursor: pointer;
}

/* sidebar */

.sidebar {
  height: 100vh;
  width: 50%;
  background: #0a2516;
  position: fixed;
  top: 0;
  right: -120%;
  z-index: 100;
  color: #ffff !important;
  padding: 20px;
  padding-top: 50px;
  padding-right: 50px;
  overflow-y: auto;
  transition: 0.6s;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 400 !important;
}

.sidebar.show {
  right: 0;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar .closeBtn {
  text-align: right;
}
.sidebar .closeBtn button {
  background-color: transparent;
  border: none;

  color: #ffff;
  font-size: 16px !important;
}
.sidebar-content {
  text-align: left;
  padding: 110px 120px;
  font-size: 18px !important;
}

.sidebar-content .address {
  margin-bottom: 50px !important;
}
.sidebar .address p {
  margin-bottom: 0;
  font-size: 18px;
  line-height: 20px;
}

.sidebar input,
.sidebar textarea {
  background-color: transparent !important;
  color: #fff !important;
  font-size: 18px;
}

.sidebar input {
  border: none !important;
  border-bottom: 1px solid #ffff !important;
  border-radius: 0 !important;
  padding-left: 0;
}

.sidebar input[type="checkbox"] {
  outline: 1px solid #ffff;
  border: none !important;
  width: 13px;
  height: 13px;
  cursor: pointer;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  align-items: center;
  justify-items: start;
  padding: 0;
}

.property-management {
  grid-column: span 2;
}

.sidebar input[type="checkbox"]:checked {
  background-color: white !important; /* Change the background color to white */
}

.sidebar input[type="checkbox"] {
  margin-right: 10px;
  margin-top: 0px;
}

.sidebar .form-check {
  display: flex !important;
  align-items: center !important;
}

.sidebar input::placeholder {
  color: #ffff !important;
}

.sidebar input:focus {
  box-shadow: none !important;
}

.sidebar textarea {
  resize: none;
  border-radius: 0 !important;
  border-color: gray !important;
  height: 175px;
}

.sidebar textarea::placeholder {
  color: #ffff !important;
}

.sidebar button {
  padding: 8px;
  font-size: 20px;
  border: 2px solid white;
  background-color: #ffff;
  color: #0a2516;
  border-radius: 0 !important;
}

.sidebar-logo,
.sidebar-footer-close-btn {
  display: none;
}

.sidebar-logo img {
  height: 19px;
}

/* .sidebar button:hover {
  background-color: transparent;
  color: #ffff;
} */

@media screen and (max-width: 1024px) {
  .sidebar {
    padding-top: 20px;
    width: 100% !important;
  }

  .sidebar-content {
    padding: 30px 40px;
  }
}

@media screen and (max-width: 450px) {
  .content .logo img {
    height: 19px;
  }

  .content p {
    font-size: 14px;
    max-width: 160px;
    margin-left: auto;
    margin-right: auto;
  }

  .content .header-bottom .menu a,
  .content .header-bottom .menu button {
    font-size: 12px;
  }

  .header-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
  }

  /* Sidebar */

  .sidebar {
    padding: 59px 20px;
  }

  .sidebar .closeBtn {
    display: none;
  }
  .sidebar .closeBtn button {
    font-size: 14px !important;
  }

  .sidebar-logo,
  .sidebar-footer-close-btn {
    display: block !important;
  }

  .sidebar-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sidebar-content {
    padding: 100px 0px !important;
    font-size: 12px !important;
  }

  .sidebar-content .address {
    margin-bottom: 50px !important;
  }
  .sidebar .address p {
    font-size: 12px;
  }

  .sidebar input,
  .sidebar textarea {
    font-size: 12px;
  }

  .sidebar button {
    padding: 5px 0;
    font-size: 14px !important;
    margin-top: 30px;
    width: 133px !important;
  }
}

@media screen and (max-width: 500px) {
  .sidebar-content {
    padding: 30px 0px;
  }

  .form-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
    justify-items: start;
    padding: 20px 0 0;
  }
}

@media screen and (max-width: 1448px) {
  .sidebar-content {
    padding: 110px 0 110px 70px;
  }
}
