.footer {
  background: #0a2516;
  color: #ffff !important;
  text-align: left !important;
  padding: 70px 60px 80px !important;
  margin-top: 30px !important;
  font-size: 18px;
}

.footer .copy {
  font-size: 20px;
}

.footer a {
  text-decoration: none;
  color: #ffff;
}

.footer a:hover {
  color: gray;
}

.footer p {
  margin-bottom: 0;
}

.footer ul {
  list-style-type: none !important;
  font-family: "neue-haas-grotesk-display", sans-serif;
  text-align: right !important;
}

.footer ul li {
  margin-top: 10px;
}

.footer_content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 400;
}

.footer_content .newsletter p {
  margin-bottom: 10px;
}

.footer_content .newsletter_input {
  background-color: transparent;
  color: #ffff;
  outline: none;
  border: none;
  border-bottom: 1px solid #ffff;
  width: 100%;
}

.social_links_container p {
  text-align: right !important;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 50px 25px !important;
  }

  .footer ul {
    padding-left: 0 !important;
  }

  .social_links_container p {
    text-align: left !important;
  }

  .footer ul {
    text-align: left !important;
  }
}

@media screen and (max-width: 450px) {
  .footer {
    font-size: 12px;
  }

  .footer .copy {
    font-size: 12px;
  }
  .copyright {
    order: -2 !important;
  }

  .social_links_div {
    order: 1 !important;
  }
}
