.sectionHeading {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-size: 24px;
  text-align: left;
  padding: 60px 10px;
  padding-left: 60px !important;
  color: var(--text-color);
  margin-bottom: 0;
}

@media screen and (max-width: 450px) {
  .sectionHeading {
    font-size: 14px;
    padding: 30px 10px 30px 20px !important;
  }
}

@media screen and (max-width: 680px) {
  .sectionHeading {
    padding: 30px 10px 30px 30px !important;
  }
}
